<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>DriveExampleServlet</servlet-name>
		<servlet-class>com.gapps.cal.DriveExampleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriveExampleServlet</servlet-name>
		<url-pattern>/drive</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OAuthCallback</servlet-name>
		<servlet-class>com.gapps.cal.OAuthCallback</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthCallback</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	
	<!-- The following ensures the user will be logged in to a Google Account by
    redirecting them to the sign-in page if not.
    For more information, see https://developers.google.com/appengine/docs/java/config/webxml -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>any</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
